$include-html-top-bar-classes: $include-html-classes;


body{
  background:#f9f9f9;
  background-image:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ddd));
  background-image:-webkit-linear-gradient(#fff,#ddd);
  background-image:-moz-linear-gradient(#fff,#ddd);
  background-image:-ms-linear-gradient(#fff,#ddd);
  background-image:-o-linear-gradient(#fff,#ddd);
  background-image:linear-gradient(#fff,#ddd);
}

.logo{
 float:left;
 margin: 20px 25px 10px 0;
}

.paaotsikko{
 color: $primary-color;
 float:left; 
 margin-top:30px;
}

.top-bar{
  margin-bottom:1rem;
}
 
.panel{
  background-color:#fff;
  -moz-box-shadow: 2px 2px 3px #ccc;
  -webkit-box-shadow: 2x 2px 3px #ccc;
  box-shadow: 2px 2px 3px #ccc;
}

.copyright{
  color:$primary-color;
  font-size:10px;
}

